<%= form_for(@repeat_image) do |f| %>
  <% if @repeat_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repeat_image.errors.count, "error") %> prohibited this repeat_image from being saved:</h2>

      <ul>
      <% @repeat_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
