<h1>Listing repeat_images</h1>

<table>
  <tr>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @repeat_images.each do |repeat_image| %>
  <tr>
    <td><%= repeat_image.image %></td>
    <td><%= link_to 'Show', repeat_image %></td>
    <td><%= link_to 'Edit', edit_repeat_image_path(repeat_image) %></td>
    <td><%= link_to 'Destroy', repeat_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Repeat image', new_repeat_image_path %>
