<p id="notice"><%= notice %></p>
<h1>Repeat Image</h1>
<p>
  <b>Image:</b>
  <%= image_tag @repeat_image.image.url, style: "width: 500px;" if @repeat_image.image.url !~ /.tif[t]{0,1}^/ %>
</p>
<p>
  <b>Historic:</b>
  <%= image_tag @repeat_image.historic_image.image.url, style: "width: 500px;" if @repeat_image.historic_image.image.url !~ /.tif[t]{0,1}^/ %>
</p>
<%= link_to "Align Images", image_reggy.image_pairs_path(initiator_derivative_class: @repeat_image.class.name, initiator_derivative_id: @repeat_image.id, reference_derivative_class: @repeat_image.historic_image.class.name, reference_derivative_id: @repeat_image.historic_image.id, aligner: "CustomAligner"), method: :post %>
<%= link_to "Align Images - No Crop", image_reggy.image_pairs_path(initiator_derivative_class: @repeat_image.class.name, initiator_derivative_id: @repeat_image.id, reference_derivative_class: @repeat_image.historic_image.class.name, reference_derivative_id: @repeat_image.historic_image.id, aligner: "NoCropAligner"), method: :post %>
<%= link_to 'Edit', edit_repeat_image_path(@repeat_image) %> |
<%= link_to 'Back', repeat_images_path %>
