/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.classycompare
 *= require_self
 *= require_tree .
 */

.reference_container, .initiator_container {
  display: inline;
}

.reference_container {
  float: right;
}

.initiator_container {
  float: left;
}

.set_control_points_buttons {
  clear: both;
}

.verify_buttons {
  padding: 10px 5px;
}

.verify_before_after .uc-mask {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}


