<script type="text/javascript">
  var numberOfPoints = <%= @image_pair_form.reference.points.present? ? @image_pair_form.reference.points.length : 4 %>;
</script>
<% if @image_pair_form.initiator.points.blank? %>
<script type="text/javascript">
    $(document).on('pointsable_initiator_loaded',function() {
      //add alignment points to user repeat image in default position (user still has to move them)
      var imageWidth = <%= @image_pair_form.initiator.image_width %>;
      for (var i=1; i<=numberOfPoints; i++) {
        pointsable_initiator.addPoint({x: imageWidth/(numberOfPoints+1)*i, y: 200, label: "p"+i });
      }

    });
</script>
<% end %>
<% if @image_pair_form.reference.points.blank? %>
<script type="text/javascript">
    $(document).on('pointsable_reference_loaded',function() {
      //add alignment points to user repeat image in default position (user still has to move them)
      var imageWidth = <%= @image_pair_form.reference.image_width %>;;
      for (var i=1; i<=numberOfPoints; i++) {
        pointsable_reference.addPoint({x: imageWidth/(numberOfPoints+1)*i, y: 200, label: "p"+i });
      }

    });
</script>
<% end %>
<h1>Set Control Points</h1>
<div class='set_control_points_container'>
  <%= form_for(@image_pair_form, url: wizard_path, method: :patch) do |f| %>
    <% if @image_pair_form.errors.any? %>
      <div id="error_explanation" class="alert-error alert">
        <h2>Error:</h2>
        <ul>
        <% @image_pair_form.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <div class='initiator_container'>
        <%= fields_for :image_initiator, @image_pair_form.initiator do |builder| %>
          <%= pointsable_form(@image_pair_form.initiator, builder, container: "pointsable_initiator", viewing_width: 600, add_points_widget: false, remove_points_widget: false,
                points_scale_factor: @image_pair_form.initiator.image_large_width/@image_pair_form.initiator.image_width.to_f,
                image_url:  @image_pair_form.initiator.image_url(:large) )%>
        <% end %>
      </div>
      <div class='reference_container'>
        <%= fields_for :image_reference, @image_pair_form.reference do |builder| %>
          <%= pointsable_form(@image_pair_form.reference, builder, container: "pointsable_reference", viewing_width: 600, add_points_widget: false, remove_points_widget: false,
                points_scale_factor: @image_pair_form.reference.image_large_width/@image_pair_form.reference.image_width.to_f,
                image_url:  @image_pair_form.reference.image_url(:large)) %>
        <% end %>
      </div>
    <div class="actions set_control_points_buttons">
      <%= f.submit "Align", class: "btn" %>
      <%= link_to "Cancel", image_reggy.image_pair_path(@image_pair_form.image_pair), method: :delete, data: { confirm: "Are you sure you want to cancel the registration process?" }, class: "cancel_link" %>
    </div>
  <% end %>
</div>
