<h1>Verify Alignment</h1>
<div class='verify_alignment_container'>
      <%= render 'warning_messages', messages: @aligner.warning_messages if @aligner.warning_messages? %>
      <div class="verify_before_after">
        <%= image_tag @image_pair.initiator.image.web.url %>
        <%= image_tag @image_pair.reference.image.web.url %>
      </div>
      <div class="actions verify_buttons">
        <%= link_to "Readjust & Try Again", previous_wizard_path, class: "btn" %>
        <%= link_to "Done", wizard_path(:verify_alignment, action: 'update'), method: :put, class: "btn" %>
        <%= link_to "Cancel", image_reggy.image_pair_path(@image_pair), method: :delete, data: { confirm: "Are you sure you want to cancel the registration process?" }, class: "cancel_link" %>
      </div>
</div>
