<h1>Listing historic_images</h1>

<table>
  <tr>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @historic_images.each do |historic_image| %>
  <tr>
    <td><%= historic_image.image %></td>
    <td><%= link_to 'Show', historic_image %></td>
    <td><%= link_to 'Edit', edit_historic_image_path(historic_image) %></td>
    <td><%= link_to 'Destroy', historic_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Historic image', new_historic_image_path %>
