<p id="notice"><%= notice %></p>
<h1>Historic Image</h1>
<p>
  <b>Image:</b>
  <%= image_tag @historic_image.image.url, style: "width: 500px;" %>
</p>
<p>
  <b>Repeat</b>
  <%= image_tag @historic_image.repeat_image.image.url, style: "width: 500px;" %>
</p>

<%= link_to 'Edit', edit_historic_image_path(@historic_image) %> |
<%= link_to 'Back', historic_images_path %>
